@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap");

body {
  font-family: "Bai Jamjuree", sans-serif;
}

.container {
  text-align: center;
}

.center-align {
  color: black;
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 20px;
}

.text {
  color: black;
  font-weight: normal;
  font-size: 15px;
  position: absolute;
  width: 99px;
  height: 23px;
  left: 510px;
  top: 400px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textbox {
  margin-bottom: 10px;
  height: 60px;
  width: 347px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
}

.btn {
  width: 400px;
  height: 40px;
  background: linear-gradient(180deg, #d15fee 0%, #9a32cd 100%);
  border-radius: 10px;
}

.form-control {
  width: 500px;
}

.form-control {
  align-items: center;
}

.navbar {
  background: #dda0dd;
}
.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}
