@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap");

:root {
  --white: rgb(255, 255, 255);
  ---white-gray: rgb(240, 240, 240);
  --gray-lighter: rgb(170, 170, 170);
  --gray: rgb(59, 59, 59);
  --gray-darker: rgb(19, 19, 19);
  --violet-lighter: #e996f8;
  --violet: #e17af3;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

.navbar {
  background: var(--violet);
  padding: 1em;
  margin: 0rem 0rem 2rem;
  display: flex;
  align-items: center;
}

.nav-link {
  transition: 150ms;
}

.nav-link:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 700px) {
  .nav-link {
    transition: 150ms;
  }

  .nav-link:hover {
    transform: translateX(1em);
  }
}

.d-flex button {
  background-color: var(--violet-lighter);
}

.btn-first {
  background: linear-gradient(180deg, #ffc825 0%, #ffc107 100%);
}
/* -------------------------------------------------------------------------------------- */

.center-align {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 30px;
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.card-Name {
  margin-left: 3rem;
  margin-top: 1rem;
  font-size: 20px;
}

.card-title {
  font-family: "Bai Jamjuree", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 20px;
}

.Line-notify {
  display: flex;
  justify-content: left;
}

.card {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.26);
}

.Layout-information {
  margin: 0.5rem 0rem 0.5rem 3rem;
}

.Layout-Addinformation {
  margin: 0.5rem 0rem 0.5rem 0rem;
  background-color: var(---white-gray);
}

/* .Layout-Meetinformation {
  margin: 0.5rem 2rem 0.5rem 0rem;
  background-color: var(---white-gray);
} */

.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 200ms;
}

.item-center a:hover {
  transform: scale(1.2);
}

.card-text {
  cursor: pointer;
}

.Layout-table {
  margin: 0.5rem 0rem 2rem 3rem;
}

.Layout-feedback {
  margin: 0.5rem 2rem 0.5rem 0rem;
}

.btn-coler {
  background: linear-gradient(180deg, #d15fee 0%, #9a32cd 100%);
}

.information-2 {
  padding: 3rem;
  margin: 0rem 2rem 5rem 5rem;
}

input,
select {
  border: none;
  border-bottom: 1px solid rgb(170, 168, 168);
  line-height: 1rem;
}

.table {
  text-align: center;
  table-layout: auto;
  border-collapse: collapse;
}

thead {
  background-color: #e996f8;
}

tbody {
  background-color: white;
  text-align: left;
}

.alert-YES {
  background: var(--violet);
  color: var(--gray-darker);
}

.alert-NO {
  background: #a10404;
  color: var(---white-gray);
}
/* ---------------------------------------------------------------- */
.button {
  display: flex;
  justify-content: center;
}

.btn-last {
  width: 100px;
  height: 40px;
  background: linear-gradient(180deg, #d15fee 0%, #9a32cd 100%);
  border-radius: 10px;
}

/* ------------------------------------------------------------------- */
.w3-card-4 {
  margin-bottom: 5rem;
}

.information-popup a {
  text-decoration: none;
  color: black;
}

.w3-center h5 {
  font-family: "Bai Jamjuree", sans-serif;
}

.item-information {
  display: flex;
  flex-direction: row;
}

.information-text {
  display: flex;
  flex-direction: column;
}

.img-medicine {
  display: flex;
  justify-content: center;
}

.img-medicine img {
  margin: 1em 1em;
}

.input-from {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w3-input {
  border-radius: 0.3em;
}
